*{
    margin: 0;
    padding: 0;
  }
  .wrapper{
    width: 1170px;
    margin: auto;
  
  }
  header{
  height:100vh;
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  background-color: black;
  }
  .nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
    background-color: black;
  }
  .nav-area li{
    display: inline-block;
  }
  .nav-area li a{
    color:silver;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 22px;
  }
  .nav-area li a:hover{
    background: #fff;
    color: #333;
  }
  .welcome-text{
    float: left;
    width: 15px;
    height: auto;
    margin-top: 5px;
    background-color: black;
    
  }
  .welcome-text h1{
    text-align: left;
    color:snow;
    text-transform: uppercase;
    font-size: 45px;
    margin-top: 8px;
    float: left;
  }
  
    .siri h1{
      text-align: center;
      color:#fd3c3d;
      text-transform: uppercase;
      font-size: 80px;
      margin-top: 40px;
      font-family: serif;
      font-style: italic;
      
    }

  
  

 
  